<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>deco.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CF9273551C1D937B0008A86F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF92736C1C1D937B0008A86F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF9273771C1D937B0008A86F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
